* {
  margin: 0;
  padding: 0;
  /* box-sizing: border-box; */
  font-family: 'Montserrat', sans-serif;
}
body {
  /* overflow-x: hidden; */
  width: 100%;
  height: 100%;
}
a {
  text-decoration: none;
  color: black;
}
.container {
  display: flex;
  flex-direction: row;
  /* min-width: 100% ; */
  /* justify-content: center; */
}
.left-section {
  /* border-right: 1px solid black; */
  width: 30%;
  max-height: 100vh;
  display: flex;
  flex-direction: column;
  background-color: #f5f9ff;

  /* align-items: center; */
}
/* .left-section :nth-child(1) {
  width: 15vw;
} */
.chart-image {
  margin-left: 10px;
}
.profile-container {
  display: flex;
  flex-direction: column;
  width: 90%;

  justify-content: center;
  align-items: center;
  padding: 10px;
  margin: auto;
  background-color: white;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  margin-bottom: 20px;
  margin-top: 20px;
}
.profile-container div {
  width: 99%;
  display: flex;
  flex-direction: row;
  margin: auto;

  /* background-color: antiquewhite; */
  border-radius: 10px;
  margin-top: 10px;
  align-items: center;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}
.profile-container div img {
  width: 4vw;
}
.profile {
  background-color: #cee5f2;
  /* border-radius: 10px; */
}

.divider {
  display: flex;
  align-items: center;
  text-align: center;
  color: gray; /* Change color as needed */
}

.divider::before,
.divider::after {
  content: "";
  flex: 1;
  border-bottom: 1px solid gray; /* Change border color as needed */
}

.divider::before {
  margin-right: 10px;
}

.divider::after {
  margin-left: 10px;
}
hr {
  width: 100%;
}
.logo {
  width: 15vw;
  height: 7vh;
  margin: auto;
  margin-bottom: 20px;
  margin-top: 20px;
}
.playlist-container {
  width: 90%;

  margin: auto;
  background-color: white;
  border-radius: 20px;
  overflow-y: auto;
  height: 100vh;
  margin-top: 20px;
}
.playlist {
  display: flex;
  flex-direction: row;
  align-content: center;
  /* border: 1px solid black; */
  margin: 10px;
  /* background-color:  #e0eafc; */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);

  border-radius: 20px;
}
.playlist div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-left: 20px;
}
.playlist img {
  width: 3vw;
}
.right-section {
  width: 100%;
  /* background-color: #c0d6df; */
  background: linear-gradient(to bottom, #c0d6df, #eef5fc);
  position: relative;
}
.navbar {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 90%;

  margin: auto;
  height: 70px;
}
.search img {
  /* width: 30px;
  height: 30px;
  padding-left: 30px;
  padding-right: 30px; */
  height: 20px;
  width: 20px;
  margin-left: 10px;
  margin-right: 10px;
}
.search input {
  width: 400px;
  height: 30px;
  border: none;
  /* background-color: #585656; */
  background-color: #dbe9ee;
  width: 100%;
  /* background: rgba(0, 0, 0, 0.4); */
}
.search input:focus {
  border: none;
}
input[type="text"] {
  outline: none;
}
input::placeholder {
  font-size: 1rem;
  font-weight: bold;
}
.search {
  display: flex;
  flex-direction: row;
  align-items: center;
  background-color: #dbe9ee;
  /* background: rgba(0, 0, 0, 0.4); */
  width: 40%;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  height: 40px;
  border-radius: 10px;
}
.profile-pic {
  width: 60px;
  height: 60px;
}
.about-user {
  position: relative;
  width: 90%;
  margin: auto;
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-top: 2vh;
}
.profile-text {
  width: 400px;
  /* border: 1px solid black; */
}
.about-user img {
  margin-right: 50px;
  /* height: 30vh; */
}
.picture {
  height: 25vh;
}
.picture :hover {
  background-color: black;
}
/* .edit-photo {
  position: absolute;
 
  display: none;

  height: 25vh;
  border-radius: 50%;
  background-color: rgba(0, 0, 0, 0.6);
  border-radius: 5px;
  padding: 5px 10px;
  text-align: center;
} */
/* .profile-pic:hover .edit-photo {
  display: block;
  padding: 100px;
}
.edit-photo-container {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  border-radius: 50%;
} */
.about-user div h2 {
  font-size: 3em;
  color: white;
}
.about-user div div {
  display: flex;
  flex-direction: row;

  /* justify-content: space-around; */
}
.about-user div div h4 {
  margin-right: 40px;
  font-size: 1.4em;
  color: gray;
  font-weight: bold;
  font-size: 1.3em;
}
.section-2 {
  width: 90%;
  margin: auto;
  margin-top: 30px;
  /* background-color: red; */
}
.section-2 h1 {
  color: #253b6d;
  font-size: 2em;
}
.section-2 img {
  height: 15vh;
}
.text {
  color: #4a6fa5;
}
.section-3 h1 {
  color: #253b6d;
  font-size: 2em;
}
.section-3 {
  width: 90%;
  margin: auto;
  /* margin-top: 30px; */
}
.section-3 div {
  display: flex;
  align-items: center;
}
.section-3 div div {
  display: flex;
  flex-direction: column;
}
.section-3 img {
  /* width: 15px; */
  /* height: 150px; */
  height: 15vh;
  margin-right: 20px;
}

.section-7 div :nth-child(3) {
  font-size: 1em;
}
.footer {
  position: absolute;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  bottom: 0;
  margin: auto;
  background-color: white;
  height: 50px;
  /* width: 98%; */
  /* padding-left: 20px;
    padding-right: 20px; */
}
.stop {
  height: 10px;
}

.footer div {
  display: flex;
  flex-direction: row;
}
.footer div div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  /* background-color: red; */
}
.rewind {
  /* margin-right: 40px; */
  height: 5vh;
  /* width: 10vw; */
  /* width: 2vw; */
}
.artist {
  margin-left: 20px;
  margin-right: 10px;
  /* width: 2vw; */
  /* height: 5vh; */
  /* width: 10vw; */
  width: 2vw;
}
